
.container-chess-table{
    overflow: auto;
    position: relative;
}

.chess-table {
    max-width: 1000px;
    overflow: hidden;
}

.chess-table .btn {
    font-size: 12px;
}

.chess-table .day-off {
    background-color: #fff0e6 !important;
}

.chess-table > thead .today {
    position: relative;
    background-color: rgb(145, 180, 255) !important;
}

.chess-table > thead .today .today-line{
    position: absolute;
    background-color: rgb(145, 180, 255) !important;
    width: 2px;
    z-index: 1;
}

.chess-table thead tr th{
    border-bottom: 2px solid #dee2e6 !important;
}

.table > tbody > tr > .free-day {
    position: relative;
    cursor: pointer;
}

.table > tbody > tr > .day-off{
    position: relative;
}

.chess-table tbody > tr > .busy-cell {
    position: relative;
    padding-left: 16px; /*calculate .date-line horizontal*/
    padding-top: 0px;
}

.chess-table .busy-cell .date-line {
    position: absolute;
    width: 100%;
    height: 90%; /*calc  vertical*/
    top: 5%; /*calc 15*2 vertical*/
    z-index: 1;
}

.chess-table .busy-cell .date-line-before {
    position: absolute; /* Абсолютное позиционирование */
    left: 17px;   /* Положение треугольника */
    top: 5%; /*calc 15*2 vertical*/
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 12px solid;
    border-bottom: 12px solid;

    border-right-color: inherit;
    border-bottom-color: inherit;

    z-index: 1;
}

.chess-table .busy-cell .date-line-after {
    position: absolute; /* Абсолютное позиционирование */
    right: -38px;  /* Положение треугольника */
    top: 5%; /*calc 15*2 vertical*/
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid;
    border-top: 12px solid;

    border-top-color: inherit;
    border-left-color: inherit;

    z-index: 1;
}

.chess-table .busy-cell .date-line .line-status {
    overflow: hidden;
    position: relative;
    margin-left: 25px; /*calculate .date-line horizontal*/
    height: 100%;
}

.chess-table .busy-cell .date-line .line-status .text-line{
    padding-left: 2px;
    font-size: 11px;
    color: #000;
}

.chess-table tbody > tr .text-selected-cell{
    padding:  3px 0px 0px 0px;
    text-align: center;
}

.chess-table tbody > tr .free-day .unselected-cell:hover,
.chess-table thead .th-day[data-light=true]{
    background-color: #aabcca !important;
}

.chess-table thead > tr > .th-day {
    min-width: 1px;
    text-align: center;
}

.chess-table thead > tr > .th-number {
    min-width: 200px;
    max-width: 200px;
}

.chess-table tbody > tr > .th-number{
    min-width: 200px;
    max-width: 200px;

    padding-left: 0 !important;
    padding-right: 0 !important;
}

.chess-table tbody > .tr-number{
    background-color: #fff;
}
.chess-table tbody > .select-row-hover ,
.chess-table tbody > .select-row-hover .day-off,
.chess-table tbody > .select-row-hover .th-number > .text-float{
    background-color: #f0f6f9 !important;
}

.chess-table  tbody > tr > td,
.chess-table  thead > tr > th{
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.chess-table  thead > tr > th{
    text-align: center;
}

.chess-table .busy-cell .nofit-date_start-line{
    margin-left: -16px !important; /*calculate minus .date-line horizontal*/
}

.chess-table .th-category{
    position: relative;
    z-index: 1;

    background-color: #e7e7e7 !important;
}

.chess-table .th-category:hover{
    background-color: #ededed !important;
}


/*Плавающий столбец и шапка*/
.chess-table tbody .th-number > .text-float {
    background-color: #fff;

    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0px;

    padding-left: 20px;
    padding-top: 4px;
    padding-right: 4px;
    z-index: 15;
}

.chess-table .th-category > .text-float {
    max-width: 400px;
    min-width: 400px;
}

.chess-table thead  .th-number.text-float{
    background-color: #fff !important;
    left:0;
    z-index: 20;
}

.chess-table .text-float{
    position: absolute;
}

.chess-table .text-in-shadow {
    color: rgba(0,0,0,0);
    opacity: 0.0;
}

.chess-table-clone{
    position: absolute;
    z-index: 10;
}

.chess-table-clone thead > tr > th{
    background-color: #fff !important;
}
